body{
    font-family: lato;
    background:url(https://images.unsplash.com/photo-1529257414772-1960b7bea4eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
   background-size: cover;
   background-position: center;
    background-repeat: no-repeat;
}
#center{

    padding-top: 12%;
    text-align: center;
    color: white;
}
html{
    height: 100%;
    width: 100%;
}
h1{
    font-weight: 900;
text-shadow: 1px 1px 4px black;
}
h3{
    font-weight: 400;
    text-shadow: 0px 0px 2px black;
}
.navbar-inverse {
    height: 52px;
}
hr{
    height: 0px;
    width: 445px;
    border-top: 1px solid #f8f8f8;
    border-bottom:1px solid rgba(0,0,0,0.4 );
}
button{
    text-shadow: 0px 0px 1px white;
}



background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */